<h4>Add a new Beer</h4>


<%= form_for @beer, url: {action: "create"} do |f| %>
    <% if @beer.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
	<% end %> 
	  
  <div><%= f.label "Name of Beer" %><br />
  <%= f.text_field :title %></div>	  
	  
  <div><%= f.label "Beer Category"%><br />
  <%= f.select(:category, Beer::BEER_TYPES) %></div>
  
  <div><%= f.label "Beer Rating"%><br />
  <%= f.select(:rating, Beer::BEER_RATING) %></div>

  <div> <%= f.submit "Add Beer" %></div>
<% end %>
